h1 {
  color: red;
  background-color:blue
}
ul {
  color: blue;
  }
p {
  color: brown;
  background-color: rgb(255, 255, 255);
}
strong {
  color: aqua;
  background: beige;
  }
  a {
    color: chartreuse;
    background-color: chocolate;
  }
  h3 {
    color:green;
    background-color: lightgray;
  }
  #example-1 {
    color:green;
  }
  #example-2 {
    color: black
  }
  #example-3 {
    color: red;
  }
  #example-4 {
    color: lime;
  }
  #example-5 {
    color: olive;
  }
  .text-green {
    color: orchid;
    background-color: orchid;
  }
  .text-white {
    color: tan;
    background-color: yellow;
  }
  .text-black {
    color: brown;
    background-color: cornsilk;
  }
  .text-blue {
    color: crimson;
    background-color: cyan;
  }
  .text-red {
    color: darkgreen;
    background-color: darkorchid;
  }
  .text-big {
    font-size: 30px;
  }
  .bg-purple {
    background-color: rgb(56, 211, 190);
  }