h1 {
  color: red;
  background-color:blue
}
ul {
  colore: blue;
  background-color: red:
}
p {
  color: brown;
  background-color: coral;
}
strong {
  color: aqua;
  background: beige;
  }
  a {
    color: chartreuse;
    background-color: chocolate;
  }
  h3 {
    color:green;
    background-color: lightgray;
  }
  #example-1 {
    color:green;
  }
  #example-2 {
    color: black
  }
  #example-3 {
    color: red;
  }
  #example-4 {
    color: lime;
  }
  #example-5 {
    color: olive;
  }